# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GDIM32-Final.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
